<app-navwithouttrainer></app-navwithouttrainer>
<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 c0l-xxl-12">
          <div class="row g-5">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          </div>
              <h1>WITHOUT TRAINER</h1>
              <hr>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <a href="/chest">
                  <div class="card" style="width: 18rem;">
                      <img src="https://i.ytimg.com/vi/TnvRFPbygOM/maxresdefault.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">CHEST</p>
                      </div>
                    </div>
                  </a>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <a href="/back">
                  <div class="card" style="width: 18rem;">
                      <img src="https://media.vanityfair.com/photos/5942d8790e6df6162c865d1d/16:9/w_1280,c_limit/arnold-schwarzenegger-pumping-iron-ss07.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">BACK</p>
                      </div>
                    </div>
                  </a>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <a href="/biceps">
                  <div class="card" style="width: 18rem;">
                    <img src="https://tse4.mm.bing.net/th?id=OIP.IvXOmdX_oJGpCRfC6R5iLQHaEf&pid=Api&P=0" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">BICEPS</p>
                      </div>
                    </div>
                  </a>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <a href="/triceps">
                  <div class="card" style="width: 18rem;">
                      <img src="https://i.ytimg.com/vi/L-PqiYxkpjQ/maxresdefault.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">TRICEPS</p>
                      </div>
                    </div>
                  </a>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <a href="/leg">
                  <div class="card" style="width: 18rem;">
                      <img src="https://preview.redd.it/4y30vljdnc531.jpg?width=640&crop=smart&auto=webp&s=4dd919c6be1edd2949003cb5c0190c7a0a59536a" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">LEG</p>
                      </div>
                    </div>
                  </a>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <a href="/shoulders">
                  <div class="card" style="width: 18rem;">
                      <img src="https://preview.redd.it/ms04l0p7bsw71.jpg?width=640&crop=smart&auto=webp&s=90bf1e792f07ee89da99f3c51c8b272eb1c7d7d4" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">SHOULDER</p>
                      </div>
                    </div>
                  </a>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <a href="/cardio">
                  <div class="card" style="width: 18rem;">
                      <img src="https://static.wixstatic.com/media/11062b_331979a31a8f41daa907069ed6a89a51~mv2_d_5312_3542_s_4_2.jpg/v1/fill/w_640,h_560,fp_0.85_0.14,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_331979a31a8f41daa907069ed6a89a51~mv2_d_5312_3542_s_4_2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">CARDIO</p>
                      
                      </div>
                    </div>
                </a>
              </div>
          </div>
      </div>
  </div>
</div>