<app-navadmintrainer></app-navadmintrainer>
<div class="container">
    <div class="row g-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-5">
                <hr>
                <div *ngFor="let i of data" class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">First name:{{i.trainerFrstname}} </h5>
                            <h5 class="card-title">Last name:{{i.trainerLstname}} </h5>
                            <h5 class="card-title">Age:{{i.trainerAge}} </h5>
                            <h5 class="card-title">Number:{{i.trainerPhno}} </h5>
                            <h5 class="card-title">E-mail:{{i.trainerEmail}} </h5>
                            <h5 class="card-title">Sex:{{i.trainerSex}} </h5>
                            <h5 class="card-title">Address:{{i.trainerAddress}} </h5>
                            <h5 class="card-title">Qualification:{{i.trainerQualifiacation}} </h5>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>