<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <nav class="navbar navbar-expand-lg bg-white">
                <div class="container-fluid">
                  <img src="https://previews.123rf.com/images/lumut/lumut1808/lumut180801060/106821092-vector-object-and-icons-for-sport-label-gym-badge-fitness-logo-design.jpg" alt="" width="60" height="50">
                  <h2>FitnessTracker</h2>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                     
                      <li class="nav-item">
                        <a class="nav-link" href="/loginpage">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/registrationpage">Register</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
</div>