<app-navcbbtlsc></app-navcbbtlsc>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          



   <div class="row g-5">
  
    <h1 align="center">CARDIO</h1>
    <hr>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/workouts/2017/05/inclinefamerswalk-1493733792.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">LISC</h5>
                    <p class="card-text">Low Intensity Steady State Cardio</p>
                    <p class="card-text"><small class="text-muted">Eg : A 20 min walk on treadmill at Incline or anything that doesnt fatigue you ie walking</small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://qph.fs.quoracdn.net/main-qimg-18a08659c7525d3ae1e586d99de8e3b5" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">HIIT</h5>
                <p class="card-text">High Intensity Interval Training</p>
                <p class="card-text"><small class="text-muted">Eg: Run for a 45 sec and walk for 15 sec, continue this for minimum of 15 repetition </small></p>
              </div>
            </div>
          </div>
        </div>























      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.pinimg.com/originals/f2/cf/2d/f2cf2d4d0fa9ba48363811db32037990.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Eliptical</h5>
                    <p class="card-text">20 min session</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://i.pinimg.com/originals/ed/2b/49/ed2b4911b14a41995d789731945524e7.gif" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Rowing Machine</h5>
                <p class="card-text">20 min session</p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
          </div>
        </div>





      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://c.tenor.com/ZwRkBqhi66cAAAAM/stationary-bike-sheamus.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Spin Bike</h5>
                    <p class="card-text">20 min session</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://c.tenor.com/QJZzCuYCIxoAAAAd/sprint-finish-usain-bolt.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Sprints</h5>
                    <p class="card-text">20 min session</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      
   </div>


      </div>
  </div>
</div>