<app-navcbbtlsc></app-navcbbtlsc>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
   <div class="row g-5">
  <h1 align="center">BACK</h1>
  <hr>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/6-01-2015/IKn04P.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Deadlift</h5>
                    <p class="card-text">Focusses on the entire back</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://c.tenor.com/36hLhcn5UZ4AAAAC/bodybuilding-ronnie-coleman.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Bent Over Rows</h5>
                    <p class="card-text">Focuses more on the upper back</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>





      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="http://j.gifs.com/J8QgLJ.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Lat Pulldown</h5>
                    <p class="card-text">Focusesbmore on the lats</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">




          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/RemarkableNimbleCheetah-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Shrugs</h5>
                    <p class="card-text">Focuses on the traps</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/PointlessLonelyConey-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Hyperextension</h5>
                    <p class="card-text">Focuses on the lower back</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.giphy.com/10rmzPp10k7W9y.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Pullups</h5>
                    <p class="card-text">Basic back workout</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>



      </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/4-29-2015/am8aYw.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Seated Rows</h5>
                    <p class="card-text">Focuses on both the upper back and lats</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>



      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/HarmoniousLastCaudata-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Dumbell Pullover</h5>
                    <p class="card-text">Focuses on the lats</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      
   </div>


      </div>
  </div>
</div>