<app-navcbbtlsc></app-navcbbtlsc>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          



   <div class="row g-5">

    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
     
  
  </div>
  <h1 align="center">LEGS</h1>
  <hr>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://j.gifs.com/vQOBE7.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Squat</h5>
                    <p class="card-text">Focusses on the entire lower body</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.pinimg.com/originals/ec/ab/24/ecab244b600ff61b0ec85f1a90d069be.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Front Squats</h5>
                    <p class="card-text">Focuses on the quads</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>





      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://assets.myworkouts.io/exercises-media/E6wJwkSnFcmS6d5ix/leg_extensions_female_v1_gif_capoff.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Leg Extension</h5>
                    <p class="card-text">Focusesbmore on the quads</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">




          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.imgur.com/ueIOBB8.gif?noredirect" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Reverse Leg Curls</h5>
                    <p class="card-text">Focuses on the hamstrings</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="http://www.shreddedcore.com/wp-content/uploads/2017/08/seated-calf-raise.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Seated Calf Raise</h5>
                    <p class="card-text">Focuses on the calfs</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://media0.giphy.com/media/3o6oztVKqYpQsqsmNa/giphy-downsized-large.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Lunges</h5>
                    <p class="card-text">Isolated leg exercise</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>



      </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/DisfiguredScentedFoal-max-1mb.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Stiff Leg Deadlift</h5>
                    <p class="card-text">Focuses on the hamstring and glutes</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>



      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/DrearyCandidGreatargus-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Hip Thrust</h5>
                    <p class="card-text">Focuses on the glutes</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      
   </div>


      </div>
  </div>
</div>