<app-navcbbtlsc></app-navcbbtlsc>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
       



   <div class="row g-5">

    
  <h1 align="center">SHOULDERS</h1>
  <hr>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://j.gifs.com/GvPwr3.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Shoulder Press</h5>
                    <p class="card-text">Focusess on the entire shoulder</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="http://j.gifs.com/VA8JDo.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Lateral Raises</h5>
                    <p class="card-text">Focuses on the lateral head</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>





      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="http://j.gifs.com/BNK1YW.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Front Raises</h5>
                    <p class="card-text">Focuses on the anterior head</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">




          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/BronzeIcyIberianmole-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Face Pulls</h5>
                    <p class="card-text">Focuses on the posterior head</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/FaroffElectricCleanerwrasse-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Reverse Machine Fly</h5>
                    <p class="card-text">Focuses on the posterior head</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/9-08-2015/sb539q.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Arnold Press</h5>
                    <p class="card-text">Focusess on the entire shoulder</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>



      </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://cdn.shopify.com/s/files/1/2930/0432/files/upright_rows_barbell_large.gif?v=1540064407" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">High Pulls</h5>
                    <p class="card-text">Focuses on the anterior and lateral head</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>



      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://media3.giphy.com/media/W2p1CTs9Ug3kiTC3Jz/giphy.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Pike Pushup</h5>
                    <p class="card-text">Focuses on the entire shoulder</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      
   </div>


      </div>
  </div>
</div>