h1{
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(255, 255, 255);
}
h5{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(255, 255, 255);
}
a{
    color: rgb(255, 255, 255);
}
h6 {
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
}
th{
    color: rgb(255, 255, 255);
}
td{
    color: rgb(255, 255, 255);
}