<app-navcbbtlsc></app-navcbbtlsc>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
         



   <div class="row g-5">

 
  <h1 align="center">CHEST</h1>
  <hr>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/ClearHalfHoatzin-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Flat Bench Press</h5>
                    <p class="card-text">Focuses on middle chest</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/5-26-2015/JyukOe.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Incline Bench Press</h5>
                    <p class="card-text">Focusses on the upper chest</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>





      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://j.gifs.com/0RmXKL.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Decline Bench Press</h5>
                    <p class="card-text">Focusses on the lower chest</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">




          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/9-18-2015/B0ql8z.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Lower to Upper Cable Fly</h5>
                    <p class="card-text">Focusses on the upper chest</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/5-17-2017/Vrb6ag.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Upper to Lower Cable Fly</h5>
                    <p class="card-text">Focusses on the lower chest</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/EasygoingKeyDwarfmongoose-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Seated Cable Fly</h5>
                    <p class="card-text">Focusses on the middle chest</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>



      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">




          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://j.gifs.com/Jy81qK.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Dips</h5>
                    <p class="card-text">Focusses on the lower chest</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>





      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://www.nerdfitness.com/wp-content/uploads/2019/10/steve-push-up.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Pushups</h5>
                    <p class="card-text">A basic chest workout for warmup</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>

      </div>
   </div>


      </div>
  </div>
</div>