<app-navclientregistration></app-navclientregistration>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
            <h1 align="center">CLIENT</h1>
            <hr>
            <form #formnew="ngForm" (ngSubmit)="clientregistration()">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                  <label for="" class="form-label">First Name</label>
                   <input type="text" class="form-control" [(ngModel)]="clientreg.clientfrstname" name="frstname">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                  <label for="" class="form-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="clientreg.clientlstname" name="lstname"></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date Of Birth</label> 
                    <input type="date" name="" id="" class="form-control" [(ngModel)]="clientreg.clientdob" name="dob">
                </div>
                

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                  <label for="" class="form-label">Age</label> 
                  <input type="text" class="form-control" [(ngModel)]="clientreg.clientage" name="age"> 
                </div>


                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Phone Number</label> 
                    <input type="text" class="form-control" [(ngModel)]="clientreg.clientphno" name="phnumber"> 
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                  <label for="" class="form-label">Email</label>
                  <input type="email" class="form-control" [(ngModel)]="clientreg.clientemail" name="email">
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Height in Inches</label> 
                    <input type="text" class="form-control" [(ngModel)]="clientreg.clientheight" name="height"> 
                </div>


                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Weight in Kilos</label>
                     <input type="text" class="form-control" [(ngModel)]="clientreg.clientweight" name="weight"> 
                </div>



                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                  <label for="" class="form-label">Sex</label> 
                  <select name="" id="" class="form-control" [(ngModel)]="clientreg.clientsex" name="sex">
                    <option value="select">select</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                    <option value="OTHERS">OTHERS</option>
                  </select>

                 
              </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Address</label> 
                    <textarea name="" id="" cols="10" rows="5" class="form-control" [(ngModel)]="clientreg.clientaddress" name="address"></textarea>

                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Any prior Medical Conditions</label>
                    <textarea name="" id="" cols="10" rows="5" class="form-control" [(ngModel)]="clientreg.clientmedical" name="medical"></textarea>



            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                
                
                <label class="form-label" for="customFile">Describe your Fitness Goal</label>
                <textarea name="" id="" cols="10" rows="5" class="form-control" [(ngModel)]="clientreg.clientgoal" name="goal"></textarea>
                

        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Username</label>
           <input type="text" class="form-control" [(ngModel)]="clientreg.clientusername" name="frstname">
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Password</label>
           <input type="password" class="form-control" [(ngModel)]="clientreg.clientpassword" name="frstname">
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Confirm Password</label>
           <input type="password" class="form-control" [(ngModel)]="clientreg.clientconfirmpassword" name="frstname">
        </div>


        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
         <button  class="btn btn-success">Submit</button>
        </div>
      
            </form>
        </div>
    </div>
</div>