<app-navcbbtlsc></app-navcbbtlsc>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          



   <div class="row g-5">

    
  <h1 align="center">BICEPS</h1>
  <hr>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://media1.giphy.com/media/WsFX0H7qz5M1o8VpxH/giphy.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Preacher Curls</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://www.bodybuilding.com/images/2021/march/ez_bar_curl_12-5fps-700xh.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Barbell Bicep Curls</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>





      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://1.bp.blogspot.com/-zLutita0JtY/XyT5xPwocRI/AAAAAAAAB20/2iAKFA2Z8a0GTPuVfdj14EHQiGGj6Wn3gCNcBGAsYHQ/s656/Dumbbell%2BDrag%2BCurl_1.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Drag Curls</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>


      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">




          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://thumbs.gfycat.com/PoliteFaintGraysquirrel-size_restricted.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Concentration Curls</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/8-05-2015/OZGZTL.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Incline Bicep Curls</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


          <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.makeagif.com/media/12-04-2017/bw2Ufk.gif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Hammer Curls</h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>




      
   </div>


      </div>
  </div>
</div>